<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus minus, illum provident quam ipsam et a dignissimos ad eligendi corrupti enim? Officia modi eos, odit aperiam nam ullam hic sit.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="" alt="" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
